[user]
	name = Sean
	email = vedicmonk@gmail.com
[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
	brs = branch --sort=committerdate
	unstage = reset HEAD --
	amend = commit --amend --no-edit
[core]
	editor = vi
